<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id ,:value=>current_user.id%>
    <%= f.hidden_field :task_id ,:value=>task.id%>
  </div>
  <div class="field">
    <%= f.text_area :body ,:placeholder=>"Comentário"%>
  </div>
  <div class="actions">
    <%= f.submit "Enviar Comentário"%>
  </div>
<% end %>
